body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", "Arial", sans-serif;
}
a {
	text-decoration: none;
}

/* 1-ая часть шапки */
.main-header {
	background-color: #f2f6f8;

	display: flex;
	flex-direction: column;
	align-items: center;
}
.header-first {
	color:#ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;

	background-color: #293449;
	
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
}
.header-first-content {
	display: flex;
	flex-direction: row;

	width: 940px;
}
.header-first a {
	color:inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.header-logo-container {
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0px rgba(0, 0, 0, 0.24);

	width: 220px;

	display: flex;
	justify-content: center;

	margin-bottom: -5px;
	padding-top: 14px;
	padding-bottom: 14px;
	cursor: pointer;
}
.search-area {
	display: flex;
	flex-direction: row;
	align-items: center;

	width: 270px;
}
.search-icon-block {
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #293449;
	height: 100%;
	outline: 0px solid white;
}
.search-icon-block path {
	fill: #ffffff;
}
.search-area:hover .search-icon-block,
.search-area:focus .search-icon-block {
	background-color: #212a3a;
}
.search-area:active .search-icon-block {
	background-color: #ffffff;
}
.search-area input:active .search-icon-block {
	background-color: #ffffff;
}
.search-area input[type="search"] {
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;

	background-color: #293449;
	border: 0;

	width: 220px;

	padding-top: 14px;
	padding-bottom: 14px;
}
.shop-basket a {
	color:inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.shop-basket-active a {
	background-color: #ee3643;
}
.favorite, .shop-basket, .make-order {
	width: 150px;

	display: flex;
	justify-content: center;
}
.favorite svg {
	margin-right: 17px;
}
.shop-basket svg {
	margin-right: 17px;
}
.favorite path {
	fill: #6a7180;
}
.shop-basket g {
	fill: #6a7180;
}
.make-order a, .favorite a, .shop-basket a {
	display: flex;
	justify-content: center;

	width: 100%;

	padding-top: 14px;
	padding-bottom: 14px;
}

.make-order a {
	background-color: #63a63e;
}


/* Интерактивность */
.header-logo-container:hover,
.header-logo-container:focus {
	background-color: #ca2c37;
}
.header-logo-container:active {
	background-color: #ba2732;
}

.search-area input:hover,
.search-area input:active {
	background-color: #212a3a;
}
.search-area input:focus {
	color: #000000;
	background-color: #ffffff;
}

.favorite a:hover,
.favorite a:focus,
.shop-basket a:hover,
.shop-basket a:focus {
	background-color: #212a3a;
}
.favorite a:active,
.shop-basket a:active {
	background-color: #161d29;
}

.make-order a:hover,
.make-order a:focus {
	background-color: #5fbb2d;
}
.make-order a:active {
	background-color: #518534;
}

.favorite a:active,
.shop-basket a:active,
.make-order a:active  {
	color: #8b8e94;
}
.favorite a:hover path,
.favorite a:focus path {
	fill: #ffffff;
}
.shop-basket a:hover g,
.shop-basket a:focus g {
	fill: #ffffff;
}
.favorite a:active path {
	fill: #8b8e94;
}
.shop-basket a:active g {
	fill: #8b8e94;
}


/* 2-ая часть шапки */
.header-second {
	font-weight: 400;

	display: flex;
	flex-direction: row;

	width: 940px;

	margin-top: 49px;
	margin-bottom: 49px;

}
.header-second h1 {
	color: #ee3643;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
	font-style: italic;

	width: 200px;

	margin-top: 0;
	margin-bottom: 0;

	display: flex;
	align-items: center;

}
.header-second-text {
	width: 280px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;

}
.header-contacts {
	width: 380px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

}
.header-contacts span {
	color: #ee3643;
	font-size: 21px;
	font-weight: inherit;
	line-height: 21px;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	border: 3px solid #ffffff;

	padding-top: 10px;
	padding-bottom: 10px;

	margin-top: 0;
	margin-bottom: 0;

	width: 270px;
}
.header-contacts span:before {
	content: url(../img/icon-phone.svg);
	padding-left: 15px;
	padding-right: 41px;
}
.header-contacts p {
	color: #32425c;
	font-size: 14px;
	font-weight: inherit;
	display: flex;

	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
}

/* Незалогиненное состояние */
.user-buttons {
	padding-left: 0px;
	list-style-type: none;

	width: 280px;

	display: flex;
	flex-direction: row;
	align-self: flex-start;
	justify-content: flex-end;
	margin: 0;
}
.user-buttons a {
	color: #000000;
	font-size: 21px;
	font-weight: inherit;
	line-height: 21px;

	display: flex;
	align-items: center;
	
	background-color: #ffffff;
	margin-left: 8px;
	padding: 14px 24px;
}
.user-buttons .sign-in a {
	padding-left: 0px;
}
.sign-in svg {
	margin-left: 15px;
	margin-right: 15px;
	fill: #c5c5c5;
}
.sign-in:hover svg,
.sign-in:focus svg {
	fill: #32425c;
}
.sign-in:active svg {
	fill: #c5c5c5;
}


/* Залогиненное состояние */
.user-navigation {
	width: 280px;

	display: flex;
	flex-direction: column;
	margin: 0;


}
.user-navigation-top {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;

	background-color: #ffffff;

}
.user-navigation-top a {
	color: #000000;
	font-size: 21px;
	font-weight: inherit;

	background-color: #ffffff;

	padding-top: 12px;
	padding-bottom: 12px;

	display: flex;
}
.user-navigation-top a:first-child {
	width: 250px;
}
.user-navigation-top a:last-child {
	width: 30px;
}
.user-navigation-top a:last-child {
	font-size: 0;
}
.user-navigation-top .profile svg {
	fill: #c5c5c5;
	padding-left: 14px;
	padding-right: 14px;
	margin-top: 2px;
}
.user-navigation-top .profile-exit svg {
	fill: #c5c5c5;
}
.profile:hover.profile svg,
.profile:focus.profile svg {
	fill: #32425c;
}
.profile-exit:hover.profile-exit svg,
.profile-exit:focus.profile-exit svg {
	fill: #32425c;
}
.profile:active.profile svg {
	fill: #c5c5c5;
}
.profile-exit:active.profile-exit svg {
	fill: #c5c5c5;
}




.user-navigation-bottom {
	padding-left: 0;
	list-style-type: none;
	
	display: flex;
	flex-direction: row;
	align-items: flex-start;

	margin: 0;
	padding-top: 7px;
}
.user-navigation-bottom a {
	color: #32425c;
	font-size: 16px;
	font-weight: inherit;
	text-decoration: underline;
	
	margin-right: 16px;
	margin-left: 16px;
}
.user-navigation-bottom li:last-child::before {
	content: url(../img/point.svg);
}

/* Интерактив */
.user-buttons a:hover,
.user-buttons a:focus,
.user-navigation-bottom a:hover,
.user-navigation-bottom a:focus {
	color: #ee3643;
}
.user-buttons a:active,
.user-navigation-top a:active,
.user-navigation-bottom a:active,
.user-navigation-top a:active {
	color: #c5c5c5;
}


/* 3-ая часть шапки - навигация*/
.main-navigation {
	background-color: #32425c;
	box-shadow: inset 0 -5px 0px #293449;

	display: flex;
	flex-direction: row;
	justify-content: center;

	width: 940px;

	margin-bottom: 60px;
}
.site-navigation {
	padding-left: 0;
	list-style-type: none;

	display: flex;
	flex-direction: row;

	margin-top: 0;
	margin-bottom: 0; 
}
.site-navigation a {
	color: #ffffff;
	font-size: 17px;
	font-weight: inherit;
	line-height: 17px;

	display: flex;
	justify-content: center;

	padding-top: 22px;
	padding-bottom: 26px;
	padding-left: 30px;
	padding-right: 30px;
	
}

/* Интерактив */
.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}
.site-navigation a:active {
	background-color: #1d2739;
	color: #c5c5c5;
}


/* Кнопки */
.button {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	
	background-color: #ee3643;
	border-radius: 3px;
	text-transform: uppercase;

	display: flex;
	justify-content: center;
	align-items: center;

	padding-top: 14px;
	padding-bottom: 14px;
}

/* Интерактив */
.button:hover,
.button:focus {
	background-color: #ca2c37;
}
.button:active {
	background-color: #ba2732;
}





/* Главная страница */

.main-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Карточки на главной */
.cards-block {
	width: 940px;
	display: flex;

	margin-top: 60px;
}
.cards-block-left {
	display: flex;
	flex-direction: column;
	width: 630px;
}
.cards-block-left-top {
	display: flex;
	flex-direction: row;
	width: 630px;
}
.cards-block-right {
	display: flex;
	flex-direction: column;
	width: 310px;
}
.cards-block-materials,
.cards-block-instruments,
.cards-block-technics,
.cards-block-discount,
.cards-block-delivery {
	color: #ffffff;

	width: 300px;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

/* 1 карточка */
.cards-block-materials {
	background: url(../img/materials-icon.svg) no-repeat 80% center,
				url(../img/new-flag.png) no-repeat right top;
	background-color: #ffbf47;
	margin-right: 10px;
	margin-bottom: 10px;

}
.cards-block-materials p {
	font-size: 24px;
	font-weight: bold;

	margin-top: 26px;
	margin-left: 22px;
	margin-bottom: 15px;

	display: flex;
}
.cards-block-materials a {
	text-transform: uppercase;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.1);
	
	margin-left: 22px;
	margin-bottom: 22px;

	width: 135px;
	height: 38px;
	border-radius: 3px;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* 2 карточка */
.cards-block-instruments {
	background: url(../img/instruments-icon.svg) no-repeat 88% center;
	background-color: #3bbce3;
	margin-left: 10px;
	margin-bottom: 10px;

}
.cards-block-instruments p {
	font-size: 24px;
	font-weight: bold;

	margin-top: 26px;
	margin-left: 22px;
	margin-bottom: 15px;

	display: flex;
}
.cards-block-instruments a {
	text-transform: uppercase;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.1);
	
	margin-left: 22px;
	margin-bottom: 22px;

	width: 135px;
	height: 38px;
	border-radius: 3px;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* 3 карточка */
.cards-block-technics {
	background: url(../img/technics-icon.svg) no-repeat 86% center;
	background-color: #dc91d8;
	margin-left: 10px;
	margin-bottom: 10px;

}
.cards-block-technics p {
	font-size: 24px;
	font-weight: bold;

	margin-top: 26px;
	margin-left: 22px;
	margin-bottom: 15px;

	display: flex;
}
.cards-block-technics a {
	text-transform: uppercase;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.1);
	
	margin-left: 22px;
	margin-bottom: 22px;

	width: 135px;
	height: 38px;
	border-radius: 3px;

	display: flex;
	justify-content: center;
	align-items: center;
}

/* 4 карточка */
.cards-block-discount {
	background: url(../img/discount-icon.svg) no-repeat 80% center;
	background-color: #8ed78f;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: 10px;

}
.cards-block-discount p {
	font-size: 24px;
	font-weight: bold;

	margin-top: 26px;
	margin-left: 22px;
	margin-bottom: 15px;

	display: flex;
}
.cards-block-discount a {
	text-transform: uppercase;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.1);
	
	margin-left: 22px;
	margin-bottom: 22px;

	width: 135px;
	height: 38px;
	border-radius: 3px;

	display: flex;
	justify-content: center;
	align-items: center;
}
/* 5 карточка */
.cards-block-delivery {
	background: url(../img/delivery-icon.svg) no-repeat 80% center;
	background-color: #ffc047;
	margin-left: 10px;
	margin-top: 10px;

}
.cards-block-delivery p {
	font-size: 24px;
	font-weight: bold;

	margin-top: 26px;
	margin-left: 22px;
	margin-bottom: 15px;

	display: flex;
}
.cards-block-delivery a {
	text-transform: uppercase;
	color: #ffffff;
	background-color: rgba(0, 0, 0, 0.1);
	
	margin-left: 22px;
	margin-bottom: 22px;

	width: 135px;
	height: 38px;
	border-radius: 3px;

	display: flex;
	justify-content: center;
	align-items: center;
}


/* Интерактив */
.cards-block-left-top a:hover,
.cards-block-left-top a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}
.cards-block-left-top a:active {
    background-color: rgba(0, 0, 0, 0.3);
}
.cards-block-right a:hover,
.cards-block-right a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}
.cards-block-right a:active {
    background-color: rgba(0, 0, 0, 0.3);
}

/* Слайдер */
.slider {
	display: flex;
	flex-direction: column;
	width: 620px;
	margin-top: 10px;

	background-image: url(../img/slider-photo-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}
.slider-second-text {
	display: none;
}
.slider-first-text {
	background-color: rgba(0, 0, 0, 0.1);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;

	box-sizing: content-box;
}
.slider p {
	color: #ffffff;
	
	padding-left: 24px;
	
	margin: 0;

	display: flex;
}
.slider p:first-child {
	text-transform: uppercase;
	font-size: 36px;

	padding-top: 20px;
	padding-bottom: 4px;
}
.slider p:last-child {
	font-size: 18px;
	
	padding-bottom: 10px;
}
.slider .button {
	width: 195px;

	display: flex;
	justify-content: center;
}
.arrows {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	align-self: center;
	margin-top: 16px;
	margin-bottom: 33px;
	width: 570px;

}
.arrow-left {
	display: flex;
	background-color: transparent;
	border: 0;
	font-size: 0;
	cursor: pointer;

}
.arrow-left::before {
	content: url(../img/slider-icon-left.svg);
}
.arrow-right {
	display: flex;
	background-color: transparent;
	border: 0;
	font-size: 0;
	cursor: pointer;
}
.arrow-right::before {
	content: url(../img/slider-icon-right.svg);
}
.slider-bottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 22px;
	padding-bottom: 22px;
}
.slider-bottom .button {
	margin-left: 24px;
}
.bullets {
	display: flex;

	margin-left: 60px;
}
.bullets-first {
	width: 7px;
	height: 16px;
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 50%;
	display: block;

	margin-left: 10px;
	cursor: pointer;
}
.bullets-second {
	width: 7px;
	height: 16px;
	background-color: #ee3643;
	border: 2px solid #ffffff;
	border-radius: 50%;
	display: block;

	margin-left: 10px;
	cursor: pointer;
}


/* Секция - Популярные товары */
.popular-goods {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	width: 940px;

	margin-top: 53px;
}
.section-header-block {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #f9f5f0;
	margin: 0;
}
.section-header-block h2 {
	color: #32425c;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;

	margin-left: 28px;
	margin-top: 34px;
	margin-bottom: 34px;
}
.section-header-block .button {
	width: 253px;
	margin-right: 28px;
}
.popular-goods .goods-list {
	flex-wrap: nowrap;
}
.popular-goods .goods-list li:first-child {
	margin-left: 0px;
}
.popular-goods .goods-list li:last-child {
	margin-right: 0px;
}

/* Секция - Популярные производители */
.popular-producers {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	width: 940px;

	margin-top: 53px;
	margin-bottom: 60px;
}
.producers-list {
	list-style-type: none;
	padding-left: 0;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
.producers-item {
	border: 1px solid #ebebeb;
	margin: 10px;
	width: 218px;
	height: 145px;

	display: flex;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.producers-item a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 218px;
	height: 145px;
}
.producers-item:nth-child(1) {
	margin-left: 0px;
}
.producers-item:nth-child(5) {
	margin-left: 0px;
}
.producers-item:nth-child(4) {
	margin-right: 0px;
}
.producers-item:nth-child(8) {
	margin-right: 0px;
}

/* Интерактив */
.producers-item:hover,
.producers-item:focus {
	box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}
.producers-item:active {
	box-shadow: 0px 5px 10px rgba(41, 52, 73, 0.5);
}
.producers-item:active.producers-item div {
	opacity: 0.3;
}


/* Секция - Сервисы */
.services {

    width: 100%;
    display: flex;
    justify-content: center;
	background-color: #f5f8fa;
	
}
.services-block {
	width: 940px;

	display: flex;
	flex-direction: column;
	padding-top: 70px;
	padding-bottom: 70px;
}
.services-header {

}
.services-header h2 {
	text-transform: uppercase;
	font-size: 30px;
	font-weight: 400;
	color: #000000;
	margin: 0px;
}
.services-header p {
	font-family: "PT Sans", "Arial", sans-serif;
	line-height: 24px;
	font-weight: 400;
	font-size: 13px;
}
.services-main {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.services-menu {
	width: 240px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
	overflow: hidden;
}
.services-menu-list {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	z-index: 4;
}
.list-shadow {
	width: 50px;
	height: 50px;
	position: absolute;
	z-index: 5;
	top: -10px;
	left: -10px;
	width: 250px;
	height: 280px;

	box-shadow: inset -4px 0 10px -4px #606060;
}
.services-menu li {

}
.services-menu-button {
	font-family: "Cuprum", "Arial", sans-serif;
	color: #ffffff;
	font-weight: 700;
	font-size: 21px;
	background-color: #32425c;
	border-right: 0;
	border-left: 0;
	border-top: 1px solid #405069;
	border-bottom: 1px solid #2b364a;
	display: flex;

	width: 100%;

	padding: 21px;
	cursor: pointer;
}



.services-delivery {
 	display: flex;
 	flex-direction: row;
 	width: 700px;

}
.services-text {
	display: flex;
 	flex-direction: column;
 	width: 420px;
 	z-index: 2;
 	box-sizing: border-box;
 	padding-left: 70px;
 	padding-top: 20px;
}
.services-text h3 {
	text-transform: uppercase;
	color: #32425c;
	font-size: 36px;
	font-weight: 400;
	margin: 0;
}
.services-text p {
	margin: 0;
	margin-top: 25px;
	line-height: 24px;
	font-size: 13px;
	width: 250px;
}
.services-img {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	width: 280px;
	z-index: 1;
}
.services-img img {
	text-align: right;
	margin-bottom: -70px;
}
.delivery-button {
	background-color: #ffffff;
	color: #32425c;
	border-color: #ffffff;
}

.services-guarantee {
 	display: flex;
 	flex-direction: row;
 	width: 700px;
}
.services-guarantee .services-text p {
	width: 400px;
}
.services-credit {
 	display: flex;
 	flex-direction: row;
 	width: 700px;
}
.services-credit .services-text p {
	margin-bottom: 30px;
	width: 300px;
}
.services-credit .button {
	width: 195px;
}



.delivery-button {
	background-color: #ffffff;
	color: #32425c;
	border-color: #ffffff;
}
.services-delivery {
	display: flex;
}
.services-guarantee {
	display: none;
}
.services-credit {
	display: none;
}







/* Компания Техномарт и Контакты */
.bottom-section{
	color: #000000;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 940px;
	padding-top: 70px;
	padding-bottom: 70px;
}
.about-company, .contacts {
	display: flex;
	flex-direction: column;
}
.about-company {
	margin-right: 100px;
}
.about-company h2, .contacts h2 {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	margin-bottom: 5px;
	display: flex;
}
.about-company p, .contacts p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 5px; 
}
.transport-company-list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding-left: 0;
}
.transport-company-list li {
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	
	display: flex;
	flex-direction: row;
	align-items: center;

	margin-bottom: 10px;
	margin-top: 10px;
}
.transport-company-list li:before {
	content: "";
	display: flex;
	width: 25px;
	height: 2px;
	background-color: #ee3643;
	margin-right: 11px;
	margin-right: 11px;
	display: flex;

}
.bottom-section .button {
	width: 220px;
	margin-top: 10px;
}
.contacts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.contacts .button {
	width: 100%;
}



/* Футер */
.main-footer {
	font-size: 18px;
	color: #000000;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;

	display: flex;
	flex-direction: column;
}
.main-footer ul {
	padding-left: 0px;
	list-style-type: none;
}


/* Футер 1 */
.main-footer-top {
	background-color: #32425c;
	font-size: 18px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}
.main-footer-top-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 940px;
}
.main-footer-top-left {
	display: flex;
	flex-direction: column;

	margin-bottom: 50px;
}
.main-footer-top-right {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 20px;
}
.bottom-logo-container {
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0px rgba(0, 0, 0, 0.24);

	width: 220px;

	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 25px;
}
.footer-contacts {
	color: #ffffff;
	line-height: 24px;
	margin-top: 5px;
}
.footer-navigation-first {
	display: flex;
	flex-direction: row;
}
.footer-navigation-second {
	display: flex;
	flex-direction: row;
}
.footer-navigation-first li {
	margin-left: 60px;
}
.footer-navigation-second li {
	margin-left: 60px;
}
.footer-navigation-first a {
	color: #ffffff;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.footer-navigation-second a {
	color: #ffda96;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

/* Интерактив */
.footer-navigation-first a:hover,
.footer-navigation-second a:hover,
.footer-navigation-first a:focus,
.footer-navigation-second a:focus {
	text-decoration: underline;
}
.footer-navigation-first a:active,
.footer-navigation-second a:active {
	color: #c5c5c5;
	text-decoration: none;
}

/* Футер 2*/
.main-footer-bottom {
	background-color: #293449;
	
	font-size: 16px;

	display: flex;
	flex-direction: row;
	justify-content: center;
}
.main-footer-bottom-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 940px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.footer-copyright {
	color: #ffffff;
	line-height: 18px;
	display: flex;
	align-items: center;
	width: 230px;
}
.footer-bottom-link {

	display: flex;
	flex-direction: row;
	align-items: center;
}
.footer-bottom-link span {
	color: #ffffff;
}
.footer-bottom-link-first {
	width: 140px;
}
.footer-bottom-link-second {
	margin-left: 54px;
	width: 95px;
}
.main-footer-bottom a {
	color: #ffda96;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.footer-social {
	display: flex;
	flex-direction: row;
}
.social-list {
	padding-left: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
}
.social-list li {
	font-size: 0;
	background-color: #212a3a;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 5px;
	margin-right: 5px;
}
.social-list li:first-child {
	background-image: url(../img/vk-icon.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.social-list li:nth-child(2) {
	background-image: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.social-list li:last-child {
	background-image: url(../img/insta-icon.svg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

/* Интерактив */
.social-list li:hover {
	background-color: #ee3643;
	cursor: pointer;
}
.footer-link:hover,
.footer-link:focus {
	text-decoration: underline;
}
.footer-link:active {
	color: #ee3643;
	text-decoration: none;
}

/* Всплывающие окна */
.feedback, .big-map, .add-window {
	display: none;
}


/* Внутренняя страница */


.breadcrumbs {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	list-style-type: none;
	padding-left: 0;

	width: 940px;

	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 0;
	margin-bottom: 0;
	margin-top: 23px;
	margin-bottom: 23px;
}
.breadcrumbs li {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.breadcrumbs li a {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.breadcrumbs li:first-child {
	font-size: 0;
}
.breadcrumbs li:first-child a {
	background-image: url(../img/icon-home.svg);
	background-repeat: no-repeat;
	background-position: 0% 50%;
	width: 20px;
}
.breadcrumbs li:nth-child(2):before {
	content: url(../img/icon-right-small.svg);
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 3px;
}
.breadcrumbs li:nth-child(3):before {
	content: url(../img/icon-right-small.svg);
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 3px;
}
.breadcrumbs li:nth-child(4):before {
	content: url(../img/icon-right-small.svg);
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 3px;
}
.breadcrumbs a{
	color: #000000;
}

/* Заголовок */
.inner-page-title {
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	background-color: #f2f6f8;

	width: 940px;
	padding-top: 32px;
	padding-bottom: 32px;
	padding-left: 32px;
	box-sizing: border-box;
	margin-top: 0px;
}

/* Главный блок */
.inner-page-block {
	display: flex;
	width: 940px;
	flex-direction: row;
}
.inner-block-left {
	display: flex;
	flex-direction: column;
	width: 214px;
}
.inner-block-right {
	display: flex;
	flex-direction: column;
	width: 726px;
}

/* Блок с карточками */
.goods-block {
	display: flex;
	flex-direction: column;
}
.filters {
	outline: 1px solid black;
}

/* Карточка товара */
.goods-list {
	padding-left: 0;
	list-style-type: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-right: -10px;
	margin-top: 0px;
}
.goods-item {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	text-align: center;

	width: 220px;
	height: 318px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 10px;
}
.goods-item-image {
	display: flex;
	
}
.goods-item-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	height: 148px;
	width: 80%;

}
.goods-item-text h4 {
	font-size: 18px;
	line-height: 20px;

	display: flex;

	margin: 0px;
	margin-top: 10px;
}
.goods-item-text ins {
	text-decoration: none;
}
.item-price-del, .item-price {
	font-size: 17px;
	line-height: 18px;

	display: flex;
}
.item-price-del {
	color: #999999;
}
.item-price {
	color: #ffffff;
		
	border-radius: 3px;

	padding-top: 11px;
	padding-bottom: 11px;
	margin-bottom: 20px;

	background:
	linear-gradient(
	225deg, #ffffff 12%, transparent 12%, transparent 100%),
	linear-gradient(
	315deg, #ffffff 12%, #ee3643 12%, #ee3643 100%);

	width: 80%;
	justify-content: center;
}
.hover-buttons {
	display: none;
}

/* Карточка товара - при наведении */
.goods-item:hover,
.goods-item:focus {
	box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}
.goods-item:hover .goods-item-image,
.goods-item:focus .goods-item-image {
	display: none;
}
.goods-item:hover .hover-buttons,
.goods-item:focus .hover-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 80%;
	height: 170px;
}

/* Купить / В закладки */
.goods-item-buy, .goods-item-favorite {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;

	width: 80%;

	border-radius: 4px;
}
.goods-item-favorite {
	padding-top: 8px;
	padding-bottom: 8px;
}
.goods-item-buy {
	padding-top: 12px;
	padding-bottom: 12px;
}
.goods-item-buy {
	color: #ffffff;
	text-decoration: none;

	background-color: #63a63e;
	box-shadow: inset 0 -3px 0px #367315;

	margin-bottom: 8px;
	display: flex;
	justify-content: flex-start;
}
.goods-item-buy svg {
	fill: rgba(255, 255, 255, 0.3);
	padding-right: 10px;
	padding-left: 12px;
}
.goods-item-buy span {
	padding-left: 15px;
}
.goods-item-favorite {
	color: #32425c;
	
	background-color: #ffffff;
	border: 3px solid #63a63e;

	cursor: pointer;
}

/* Купить / В закладки - Интерактив */

.goods-item-buy:hover,
.goods-item-buy:focus {
	background-color: #5fbb2d;
}
.goods-item-buy:active {
	background-color: #518534;
	box-shadow: 0;
}
.goods-item-favorite:hover,
.goods-item-favorite:focus {
	border-color: #32425c;
}
.goods-item-favorite:active {
	border-color: #c1c6ce;
	color: #c1c6ce;
}
.goods-item-buy:hover svg {
	fill: rgba(255, 255, 255, 1);
}

/* Формы - фильтр и сортировка*/

.filters p, .sorting p {
	background-color: #f7f3ec;
	font-size: 13px;
	line-height: 18px;
}
.filters, .sorting {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.filters {
	color: #000000;
}

/* Фильтр */
.filters {
	display: flex;
	flex-direction: column;
	outline: none;
}
.filters form {
	display: flex;
	flex-direction: column;
}
.producers, .power, .price {
	border: 0;
}
.price {
	outline: 0px solid black;
	padding-left: 0px;
	margin-left: -1px;
	margin-right: -12px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.price-values {
	display: flex;
	flex-direction: row;
	margin-top: 10px;
}
.price-values input {
	width: 93px;
	height: 30px;
	border-radius: 3px;
}
.price legend {
	padding-top: 13px;
	padding-bottom: 13px;
}
.producers legend, .power legend {
	padding-bottom: 5px;
	padding-top: 5px;
}
.producers {
	padding-left: 0;
	outline: 0px solid black;
	margin-right: -12px;
	margin-left: -1px;
}
.power {
	padding-left: 0;
	outline: 0px solid black;
	margin-right: -12px;
	margin-left: -1px;
}
.dash {
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.straight-block {
	width: 100%;
	height: 70px;
	background-color: #f7f3ec;
	display: flex;
	justify-content: center;
	align-items: center;

	outline: 0px solid black;
	border-radius: 3px;
	position: relative;
}
.straight-block .straight {
	display: flex;
	width: 70%;
	height: 2px;
	background-color: #d7dcde;
	z-index: 4;
}
.straight-inside {
	display: flex;
	width: 80%;
	height: 2px;
	background-color: #00ca74;
}
.circle {
	width: 4px;
	height: 4px;
	padding: 0;
	border: 8px solid #ffffff;
	background-color: #ababab;
	z-index: 5;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	cursor: pointer;
}
.circle-min {
	position: absolute;
	left: 20px;
}
.circle-max {
	position: absolute;
	left: 142px;
}
.price-values input {
	text-align: center;
}
.filters p {
	margin: 0;
	padding: 12px;
	border-radius: 3px;
}
.price legend, .producers legend, .power legend {
	font-size: 17px;
	font-weight: bold;
}
.producers ul, .power ul  {
	font-size: 15px;
	line-height: 20px;

	list-style-type: none;
	padding-left: 0;
	margin: 0px;
	outline: 0px solid black;
}

.producers::after {
	content: "";
	display: block;
	border-top: 1px solid #e5e5e5;
	margin-top: 15px;
}
.price::after {
	content: "";
	display: block;
	border-top: 1px solid #e5e5e5;
	margin-top: 20px;
	width: 100%;
}

.form-button {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #000000;
	text-transform: uppercase;
	
	border: 1px solid #e5e5e5;
	border-radius: 2px;

	background-color: #ffffff;

	margin-top: 40px;
	padding: 10px;
	width: 140px;
	cursor: pointer;
}
.straight-block, .price input[type="text"] {
	background-color: #f7f3ec;
	border: 0;
}

.power label {
	cursor: pointer;
	padding-left: 35px;
	display: flex;
	margin-top: 0px;
	outline: 0px solid black;

	user-select: none;
	position: relative;
}
.power input + label:before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	border: 3px solid #c5c5c5;
	background-color: #fff;
	border-radius: 50%;
	z-index: 1;
	margin-right: 10px;
	margin-top: 0px;
	position: absolute;
	left: 0px;
	top: -1px;
}
.power input:checked + label:after {
	content: '';
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #c5c5c5;
	z-index: 2;
	left: 8px;
	top: 7px;
}
.power {
	outline: 0px solid black;
}
.power li {
	outline: 0px solid black;
	padding-top: 0px;
	margin-bottom: 15px;
}
.producers label {
	cursor: pointer;
	padding-left: 35px;
	display: flex;
	margin-top: 0px;
	outline: 0px solid black;

	user-select: none;
	position: relative;
}
.producers input + label:before {
	content: '';
	display: block;
	width: 19px;
	height: 19px;
	border: 2px solid #c5c5c5;
	background-color: #fff;
	border-radius: 3px;
	z-index: 1;
	margin-right: 10px;
	margin-top: 0px;
	position: absolute;
	left: 0px;
	top: -1px;
}
.producers input:checked + label:after {
	content: '';
	display: block;
	position: absolute;
	width: 27px;
	height: 27px;
	z-index: 2;
	left: 0px;
	top: -1px;
	background-image: url("../img/checkbox-on.svg");
  	background-repeat: no-repeat;
  	background-position: 0 0;
}
.producers {
	outline: 0px solid black;
}
.producers li {
	outline: 0px solid black;
	padding-top: 0px;
	margin-bottom: 15px;
}

.visually-hidden {
	display: none;
}

/* Сортировка */
.sorting p {
	margin-top: 0;
	margin-bottom: 0;
}
.sorting {
	background-color: #f7f3ec;
	font-size: 13px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	padding: 12px;
	margin-bottom: 10px;
	margin-left: 20px;
	border-radius: 3px;
}
.sorting-item {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	
	background-color: #f7f3ec;

	text-decoration: underline dotted #ee3643;

	padding-left: 65px;
}
.arrow-top, .arrow-bottom {
	font-size: 0;	
}
.arrow-top polygon, .arrow-bottom polyline {
	fill: #c5c5c5;
}
.arrow-bottom {
	margin-left: 20px;
}
.arrow-top {
	margin-left: 30px;
}

/* Сортировка - интерактив */
.sorting-item:hover,
.sorting-item:focus {
	color: #000000;
	text-decoration: underline solid #ee3643;
}
.sorting-item:active {
	color: #ee3643;
	text-decoration: none;
}
.arrow-top polygon:hover,
.arrow-top polygon:focus,
.arrow-bottom polyline:hover,
.arrow-bottom polyline:focus {
	fill: #231f20;
}
.arrow-top polygon:active {
	fill: #ee3643;
}
.arrow-bottom polyline:active {
	fill: #ee3643;	
}

/* Скрытые заголовки */
.visually-hidden {
	font-size: 0;
}

/* Пагинация */
.pagination-list {
	list-style-type: none;
	padding-left: 0;

	display: flex;
	flex-direction: row;
	margin-left: 20px;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 50px;
}
.pagination-item {
	width: 38px;
	height: 38px;
	
	display: flex;
	flex-direction: row;
	margin-right: 20px;
}
.pagination-item a {
	padding: 18px;
	border: 1px solid #e5e5e5;
	border-radius: 2px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	text-transform: uppercase;
	color: #000000;
	font-size: 13px;
}
.current-pagination-item a {
	background-color: #ee3643;
	border: 1px solid #ee3643;
	color: #ffffff;
}


/* Пагинация — интерактив */
.pagination-item a:hover,
.pagination-item a:focus {
	border: 1px solid #bdc6ca;
}
.pagination-item a:active {
	border: 1px solid #ee3643;
}
.current-pagination-item a:hover,
.current-pagination-item a:focus,
.current-pagination-item a:active {
	border: 1px solid #ee3643;
}


/* Блок о перформаторах */
.perforator-about-block {
	background-color: #f2f6f8;

	display: flex;
	flex-direction: row;
	justify-content: center;

	width: 100%
}
.perforator-about {
	width: 940px;
	margin-top: 60px;
	margin-bottom: 60px;
}
.perforator-about h2 {
	font-family: "Cuprum", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	color: #000000;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
}
.perforator-about p {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	font-weight: 400;
	margin-bottom: 0;
	margin-top: 0;
	margin-top: 20px;
}