body {
	margin: 0;
	padding: 0;
	font-family: "Cuprum", "Arial", sans-serif;
}
a {
	text-decoration: none;
}

/* 1-ая часть шапки */
.header-first {
	color:#ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;

	background-color: #293449;
}
.header-first a {
	color:inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.header-logo-container {
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0px rgba(0, 0, 0, 0.24);
}
.search-area input {
	color: #ffffff;
	font-size: 17px;
	font-weight: 400;
	line-height: 18px;

	background-color: #293449;
	border: 0;
}
.shop-basket a {
	color:inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.shop-basket-active a {
	background-color: #ee3643;
}
.make-order a {
	color:inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;

	background-color: #63a63e;
}


/* Интерактивность */
.header-logo-container:hover,
.header-logo-container:focus {
	background-color: #ca2c37;
}
.header-logo-container:active {
	background-color: #ba2732;
}

.search-area input:hover {
	background-color: #212a3a;
}
.search-area input:focus {
	color: #000000;
	background-color: #ffffff;
}

.favorite a:hover,
.favorite a:focus,
.shop-basket a:hover,
.shop-basket a:focus {
	background-color: #212a3a;
}
.favorite a:active,
.shop-basket a:active {
	background-color: #161d29;
}

.make-order a:hover,
.make-order a:focus {
	background-color: #5fbb2d;
}
.make-order a:active {
	background-color: #518534;
}

.favorite a:active,
.shop-basket a:active,
.make-order a:active  {
	color: #8b8e94;
}


/* 2-ая часть шапки */
.header-second {
	font-weight: 400;
	background-color: #f2f6f8;
}
.header-second h1 {
	color: #ee3643;
	font-size: 16px;
	font-weight: 400;
	line-height: inherit;
	font-style: italic;
}
.header-contacts span {
	color: #ee3643;
	font-size: 21px;
	font-weight: inherit;
	line-height: 21px;

	border: 3px solid #ffffff;
}
.header-contacts p {
	color: #32425c;
	font-size: 14px;
	font-weight: inherit;
	line-height: 24px;
}

/* Незалогиненное состояние */
.user-buttons {
	padding-left: 0px;
	list-style-type: none;
}
.user-buttons a {
	color: #000000;
	font-size: 21px;
	font-weight: inherit;
	line-height: 21px;

	background-color: #ffffff;
}

/* Залогиненное состояние */
.user-navigation-top a {
	color: #000000;
	font-size: 21px;
	font-weight: inherit;
	line-height: 21px;

	background-color: #ffffff;
}
.user-navigation-top a:last-child {
	font-size: 0;
}
.user-navigation-bottom {
	padding-left: 0;
	list-style-type: none;
}
.user-navigation-bottom a {
	color: #32425c;
	font-size: 16px;
	font-weight: inherit;
	line-height: 18px;
	text-decoration: underline;
}

/* Интерактив */
.user-buttons a:hover,
.user-buttons a:focus,
.user-navigation-bottom a:hover,
.user-navigation-bottom a:focus {
	color: #ee3643;
}
.user-buttons a:active,
.user-navigation-top a:active,
.user-navigation-bottom a:active,
.user-navigation-top a:active {
	color: #c5c5c5;
}


/* 3-ая часть шапки - навигация*/
.main-navigation {
	background-color: #32425c;
	box-shadow: inset 0 -5px 0px #293449;
}
.site-navigation {
	padding-left: 0;
	list-style-type: none;
}
.site-navigation a {
	color: #ffffff;
	font-size: 17px;
	font-weight: inherit;
	line-height: 17px;
}

/* Интерактив */
.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}
.site-navigation a:active {
	background-color: #1d2739;
	color: #c5c5c5;
}


/* Кнопки */
.button {
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	
	background-color: #ee3643;
	border-radius: 4px;
	text-transform: uppercase;

	padding: 12px 45px;
}

/* Интерактив */
.button:hover,
.button:focus {
	background-color: #ca2c37;
}
.button:active {
	background-color: #ba2732;
}


/* Футер */
.main-footer {
	font-size: 18px;
	color: #000000;
	font-size: 18px;
	font-weight: 400;
	line-height: 21px;
}
.main-footer ul {
	padding-left: 0px;
	list-style-type: none;
}


/* Футер 1 */
.main-footer-top {
	background-color: #32425c;
	line-height: 24px;
	font-size: 18px;
}
.bottom-logo-container {
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0px rgba(0, 0, 0, 0.24);
}
.footer-navigation-first a {
	color: #ffffff;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.footer-navigation-second a {
	color: #ffda96;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

/* Интерактив */
.footer-navigation-first a:hover,
.footer-navigation-second a:hover,
.footer-navigation-first a:focus,
.footer-navigation-second a:focus {
	text-decoration: underline;
}
.footer-navigation-first a:active,
.footer-navigation-second a:active {
	color: #c5c5c5;
	text-decoration: none;
}

/* Футер 2*/
.main-footer-bottom {
	background-color: #293449;
	line-height: 18px;
	font-size: 16px;
}
.main-footer-bottom a {
	color: #ffda96;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.social-list li {
	font-size: 0;
	background-color: #212a3a;
}

/* Интерактив */
.social-list li:hover {
	background-color: #ee3643;
}
.footer-link:hover,
.footer-link:focus {
	text-decoration: underline;
}
.footer-link:active {
	color: #ee3643;
	text-decoration: none;
}

/* Всплывающие окна */
.feedback, .big-map, .add-window {
	display: none;
}


/* Главная страница */

/* Нижний блок */
.bottom-section{
	color: #000000;
}

/* Компания Техномарт и Контакты */
.about-company h2, .contacts h2 {
	text-transform: uppercase;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
}
.about-company p, .contacts p {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}
.transport-company-list li {
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	list-style-type: none;
}
.transport-company-list li:before {
	content: "";
	display: flex;
	width: 22px;
	border: 1px solid #ee3643;
	padding-right: 11px;
}





/* Внутренняя страница */



.breadcrumbs {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	text-transform: uppercase;
	list-style-type: none;
	padding-left: 0;
}
.breadcrumbs li:first-child {
	font-size: 0;
}
.breadcrumbs a{
	color: #000000;
}

/* Заголовок */
.inner-page-title {
	color: #32425c;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	background-color: #f2f6f8;
}

/* Карточка товара */
.goods-list {
	padding-left: 0;
	list-style-type: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.goods-item {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 700;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	text-align: center;

	width: 220px;
	height: 318px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin: 11px;
}
.goods-item-image {
	display: flex;
	
}
.goods-item-text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	height: 148px;
	width: 80%;

}
.goods-item-text h4 {
	font-size: 18px;
	line-height: 20px;

	display: flex;

	margin: 0px;
	margin-top: 10px;
}
.goods-item-text ins {
	text-decoration: none;
}
.item-price-del, .item-price {
	font-size: 17px;
	line-height: 18px;

	display: flex;
}
.item-price-del {
	color: #999999;
}
.item-price {
	color: #ffffff;
		
	border-radius: 3px;

	padding-top: 11px;
	padding-bottom: 11px;
	margin-bottom: 20px;

	background:
	linear-gradient(
	225deg, #ffffff 12%, transparent 12%, transparent 100%),
	linear-gradient(
	315deg, #ffffff 12%, #ee3643 12%, #ee3643 100%);

	width: 80%;
	justify-content: center;
}
.hover-buttons {
	display: none;
}

/* Карточка товара - при наведении */
.goods-item:hover,
.goods-item:focus {
	box-shadow: 0px 10px 25px rgba(41, 52, 73, 0.5);
}
.goods-item:hover .goods-item-image,
.goods-item:focus .goods-item-image {
	display: none;
}
.goods-item:hover .hover-buttons,
.goods-item:focus .hover-buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 80%;
	height: 170px;
}

/* Купить / В закладки */
.goods-item-buy, .goods-item-favorite {
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-transform: uppercase;

	width: 80%;

	border-radius: 4px;

	padding-top: 8px;
	padding-bottom: 8px;
}
.goods-item-buy {
	color: #ffffff;
	text-decoration: none;

	background-color: #63a63e;
	box-shadow: inset 0 -3px 0px #367315;

	margin-bottom: 8px;
}
.goods-item-favorite {
	color: #32425c;
	
	background-color: #ffffff;
	border: 3px solid #63a63e;

	cursor: pointer;
}

/* Купить / В закладки - Интерактив */

.goods-item-buy:hover,
.goods-item-buy:focus {
	background-color: #5fbb2d;
}
.goods-item-buy:active {
	background-color: #518534;
	box-shadow: 0;
}
.goods-item-favorite:hover,
.goods-item-favorite:focus {
	border-color: #32425c;
}
.goods-item-favorite:active {
	border-color: #c1c6ce;
	color: #c1c6ce;
}


/* Формы - фильтр и сортировка*/

.filters p, .sorting p {
	background-color: #f7f3ec;
	font-size: 13px;
	line-height: 18px;
}
.filters, .sorting {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
}
.filters {
	color: #000000;
}

/* Фильтр */
.producers, .power, .price {
	border: 0;
}
.price legend, .producers legend, .power legend {
	font-size: 17px;
	line-height: 30px;
	font-weight: bold;
}
.producers ul, .power ul  {
	font-size: 15px;
	line-height: 20px;

	list-style-type: none;
	padding-left: 0;
}

.producers::after {
	content: "";
	display: block;
	border-top: 1px solid #e5e5e5;
}

.form-button {
	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: #000000;
	text-transform: uppercase;
	
	border: 1px solid #e5e5e5;
	border-radius: 2px;

	background-color: #ffffff;
}
.straight-block, .price input[type="text"] {
	background-color: #f7f3ec;
	border: 0;
}

/* Сортировка */
.sorting {
	background-color: #f7f3ec;
	font-size: 13px;
}
.sorting-item {
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.3);
	
	background-color: #f7f3ec;

	text-decoration: underline dotted #ee3643;
}
.arrow-top, .arrow-bottom {
	font-size: 0;	
}
.arrow-top {
	border: 6px solid transparent;
	border-bottom: 10px solid #c5c5c5;
}
.arrow-bottom {
	border: 6px solid transparent;
	border-top: 10px solid #c5c5c5;
}

/* Сортировка - интерактив */
.sorting-item:hover,
.sorting-item:focus {
	color: #000000;
	text-decoration: underline solid #ee3643;
}
.sorting-item:active {
	color: #ee3643;
	text-decoration: none;
}
.arrow-top:hover,
.arrow-top:focus {
	border: 6px solid transparent;
	border-bottom: 10px solid #231f20;
}
.arrow-bottom:hover,
.arrow-bottom:focus {
	border: 6px solid transparent;
	border-top: 10px solid #231f20;
}
.arrow-top:active {
	border: 6px solid transparent;
	border-bottom: 10px solid #ee3643;
}
.arrow-bottom:active {
	border: 6px solid transparent;
	border-top: 10px solid #ee3643;	
}

/* Скрытые заголовки */
.visually-hidden {
	font-size: 0;
}